:root {
  background-color: #A8A8A8;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 400;
  background-color: #FFFF;
}

.list {
  list-style: inside;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.main-container {
  margin-left: 498px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $titleTextColor;
}

.work-period {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #A8A8A8; 
}